/* CSS for the form */
#login_titile{
    color: #ddd;
}
h1{
    color: #fff;
}
form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
}

form p {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form button.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button.btn:hover {
    background: #0056b3;
}
form p a {
    color: #007bff;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}